
body { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 80vh; 
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
    background-color: #fff0f3; 
    transition: background-color 0.5s;
}

#mainGif { width: 400px; border-radius: 20px; margin-bottom: 20px; }

h1 { color: #d00000; font-size: 2.5rem; text-align: center; padding: 0 20px; font-family: 'Georgia', sans-serif; }

.buttons { display: flex; gap: 20px; justify-content: center; margin-top: 20px; }

button { 
      color: rgb(204, 72, 72);
    padding: 15px 40px; font-size: 20px; cursor: pointer; border: none; 
    border-radius: 50px; font-weight: bold; transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.return-btn:hover {
    background-color: #ff85a1;
}


button:hover { transform: scale(1.05); }